.App {
  text-align: center;
  
}

.principal {
  background-color: #216654;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #216654;
}


.wrapper {
  padding: 20px;
}